body
{
    font-family: Arial,sans-serif;
    margin:0 ;
    padding: 0;
}

.navbar{
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a-navbar:hover {
    background-color: rgb(10, 10, 128);
}

.rounded-image {
    width: 200px; 
    height: 200px;
    border-radius: 100%;
}

.kotak {
        background-color:black;
        width: 100%;
        border: 1px solid black;
        margin: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
}

.text {
    font-size: larger;
    color: white;
}

footer {
    background-color: black;
    color: #fff; 
    padding: 14px; 
    text-align: center;
}
