body
{
    font-family: Arial,sans-serif;
    margin:0 ;
    padding: 0;
    background-color: #2FD087;
}

.navbar{
    background-color:#D02F78;
    overflow: hidden;
    display: block;
}

.navbar a {
    float: left;
    display: block;
    color: #2FD087;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a-navbar:hover {
    background-color:black;
}

.rounded-image {
    width: 200px; 
    height: 200px;
    border-radius: 100%;
}
.profil{
color: #D02F78;
}

.kotak {
    display: block;
    background-color:#D02F78 ;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.text {
    font-size: larger;
    color: #2FD087;
}
.kontak{
color: #2FD087;
}

footer {
    background-color: #D02F78;
    color: #2FD087; 
    padding: 14px; 
    text-align: center;
    display: block;
}
